{% comment %}
    Renders an article card for a given blog with settings to either show the image or not.

    Accepts:
    - blog: {Object} Blog object
    - article: {Object} Article object
    - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
    - show_date: {String} The setting either show the article date or not. If it's not included it will not show the image by default
    - show_author: {String} The setting either show the article author or not. If it's not included it will not show the author by default

    Usage:
      {%- render 'article-card-overlay',
        article: article,
        show_image: section.settings.show_image,
        show_tags: section.settings.show_tags,
        show_date: section.settings.show_date,
        show_author: section.settings.show_author,
        show_excerpt: section.settings.show_excerpt,
        overlay_enable: section.settings.overlay_enable,
        color_scheme: section.settings.color_scheme
      -%}
{% endcomment %}

<article class="article-card-overlay color-{{color_scheme}}" aria-labelledby="Article-{{ article.id }}">
  <a
    class="article-card-overlay__link"
    href="{{ article.url }}"
    aria-label="{{ 'accessibility.article_link' | t }}"
  ></a>
  {%- if overlay_enable -%}
    <span class="article-card-overlay__overlay"></span>
  {%- endif -%}
  <div class="article-card-overlay__image">
    {%- if show_image and article.image != blank -%}
      {% liquid
        assign width_adapt_ratio = 1
        if article.image.width > article.image.height
          assign width_adapt_ratio = 500 | times: article.image.aspect_ratio | round: 2
        endif
      %}
      {% capture sizes %}
        (min-width: 1200px) 100vw, 
        {% if width_adapt_ratio != 1 %}
          {{ width_adapt_ratio }}px
        {% else %}
          100vw
        {% endif %}
      {% endcapture %}
      {{
        article.image
        | image_url: width: article.image.width
        | image_tag:
          loading: 'lazy',
          sizes: sizes,
          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
      }}
    {%- else -%}
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
  </div>
  <header class="article-card-overlay__content">
    {%- if show_date or show_tags or show_author -%}
      <div class="article-card-overlay__top">
        {%- if show_tags and article.tags != blank -%}
          <div class="article-card-overlay__tags">
            {% for tag in article.tags %}
              <div class="article-card-overlay__tag">
                <a
                  href="{{ blog.url }}/tagged/{{ tag | handle }}"
                  aria-label="{{ tag }}"
                >
                  <span title="{{ tag }}">
                    {{- tag }}
                  </span>
                </a>
              </div>
              {% if forloop.last == false %}
                <span class="article-card-overlay__tags-separator">|</span>
              {% endif %}
            {% endfor %}
          </div>
        {%- endif -%}
        {%- if show_author -%}
          <div class="article-card-overlay__author">
            <span>
              {{- 'general.blog.author' | t -}}
            </span>
            <span>
              {{- article.author -}}
            </span>
          </div>
        {%- endif -%}
        {%- if show_date -%}
          <span class="article-card-overlay__date">
            {{- article.published_at | date: '%B %d, %Y' -}}
          </span>
        {%- endif -%}
      </div>
    {%- endif -%}
    <div class="article-card-overlay__bottom">
      <h1 class="article-card-overlay__title h1" id="Article-{{ article.id }}">
        <a
          href="{{ article.url }}"
          aria-label="{{ article.title | escape }}"
        >
          {{ article.title | escape }}
        </a>
      </h1>
      {%- if show_excerpt and article.excerpt_or_content.size > 0 -%}
        <p class="article-card-overlay__excerpt">
          {{ article.excerpt_or_content | strip_html | truncate: 120 }}
        </p>
      {%- endif -%}
      {%- assign button_label = 'general.blog.read_now' | t -%}
      {% render 'button',
        btn_label: button_label,
        btn_link: article.url ,
        btn_size: 'primary',
        btn_style: 'primary',
        add_classes: 'article-card-overlay__button focus-inset'
      %}
    </div>
  </header>
</article>
