{% if forloop != blank %}
  {% assign placeholder_index = forloop.index | modulo: 3 | plus: 1 %}
{% else %}
  {% assign placeholder_index = 1 %}
{% endif %}

<div
  class="promo-block color-{{ color_scheme }}"
  style="--opacity: {{ overlay_opacity }}; --opacity-hover: {{ overlay_opacity | plus: 0.1 }};"
>
  <span class="promo-block__overlay{% if button_link != blank and full_link %} hover-effect{% endif %}"></span>
  <div class="promo-block__image {% if image == blank %}placeholder{% endif %}">
    {% if image != blank %}
      {%- capture sizes -%}
        (min-width: 1200px) 1044px, calc(100vw - 30px)
      {%- endcapture -%}
      {{
        image
        | image_url: width: 1044
        | image_tag:
          loading: 'lazy',
          sizes: sizes,
          widths: '360, 400, 500, 522, 800, 1044'
      }}
    {% else %}
      {{ 'collection-apparel-' | append: placeholder_index | placeholder_svg_tag }}
    {% endif %}
  </div>
  <div class="promo-block__content">
    {% if subheading != blank %}
      <span class="promo-block__subheading subheading">
        {{ subheading }}
      </span>
    {%- endif -%}
    {% if heading != blank or desc != blank or button_label != blank %}
      <div class="promo-block__bottom">
        {% if heading != blank or desc != blank %}
          <div class="promo-block__info">
            {% if heading != blank %}
              <h3 class="promo-block__heading h3">
                {{ heading }}
              </h3>
            {%- endif -%}
            {% if desc != blank %}
              <div class="promo-block__desc richtext__content">
                {{ desc }}
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}
        {%- if button_label != blank -%}
          {% render 'button',
            btn_label: button_label,
            btn_link: button_link,
            btn_size: 'primary',
            btn_style: 'tertiary',
            add_classes: 'promo-block__button focus-inset'
          %}
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
  {%- if button_label != blank and button_link != blank and full_link -%}
    <a
      href="{{ button_link }}"
      class="promo-block__link-overlay"
      aria-label="{{ button_label }}"
    ></a>
  {%- endif -%}
</div>
