{% comment %} section-main-product.css load in theme.liquid {% endcomment %}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-badge.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-cart-drawer.css' | asset_url }}" media="all">
<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="all">
<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link
  rel="stylesheet"
  href="{{ 'section-product-recommendations.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'copy.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'update-slider.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'main-product.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  {% render 'section-margin' %}
  {% render 'section-padding' %}
{%- endstyle -%}

{%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link
    id="ModelViewerStyle"
    rel="stylesheet"
    href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
    media="print"
    onload="this.media='all'"
  >
  <link
    id="ModelViewerOverride"
    rel="stylesheet"
    href="{{ 'component-model-viewer-ui.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
  >
{%- endif -%}

{%- if settings.quickview_show or settings.show_on_mobile -%}
  {% comment %}theme-check-disable AssetPreload{% endcomment %}
  <link
    rel="preload"
    href="{{ 'quick-add.css' | asset_url }}"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  >
  {% comment %}theme-check-enable AssetPreload{% endcomment %}
{%- endif -%}

{% liquid
  assign aspect_ratio = section.settings.image_ratio | split: '/'
  assign temp = aspect_ratio[0] | append: '.0'
  assign padding_bottom = aspect_ratio[1] | divided_by: temp | times: 100 | round: 2
%}

<section
  id="MainProduct-{{ section.id }}"
  class="main-product section-{{ section.id }}-padding {% if section.settings.show_border_bottom %} main-product--border-bottom{% endif %}"
  data-section="{{ section.id }}"
>
  <div class="product {% if product.media.size > 0 %}row{% else %}product--no-media{% endif %}">
    <div class="product__outer product__outer--{% if section.settings.gallery_type == 'thumbs_aside' %}thumbs-aside{% elsif section.settings.gallery_type == 'static_column_aside' %}static-column-aside {% elsif section.settings.gallery_type == 'bullets_aside'%}bullets-aside{% endif %} {% if section.settings.desktop_alignment == 'right' %}product__outer--desktop-order{% endif %} {% if section.settings.mobile_alignment == 'after' %}product__outer--mobile-order{% endif %}">
      <div
        class="product__main"
        data-product-main="{{ section.id }}"
        style="--aspect-ratio: {{ padding_bottom }}%;"
      >
        {% if product.media.size > 0 %}
          <div class="product__media-wrapper">
            <div class="product__media-list-wrapper">
              {% if section.settings.gallery_type == 'thumbs_aside' %}
                <div class="product__media-sublist-outer no-js-hidden">
                  {% comment %}
                    383, 520 - main slider width
                    370, 438 - main slider width in quickview
                  {% endcomment %}
                  {% liquid
                    assign height_lg = 383 | times: aspect_ratio[1] | divided_by: aspect_ratio[0]
                    assign height_xl = 520 | times: aspect_ratio[1] | divided_by: aspect_ratio[0]
                    assign height_quick_view_lg = 370 | times: aspect_ratio[1] | divided_by: aspect_ratio[0]
                    assign height_quick_view_xl = 438 | times: aspect_ratio[1] | divided_by: aspect_ratio[0]
                  %}
                  <style>
                    .product__media-sublist.js-media-sublist {
                      --height-lg: {{ height_lg }}px;
                      --height-xl: {{ height_xl }}px;
                      --height-qv-lg: {{ height_quick_view_lg }}px;
                      --height-qv-xl: {{ height_quick_view_xl }}px;
                    }
                  </style>
                  <div
                    class="product__media-sublist js-media-sublist swiper"
                    data-js-media-list-id="slider-{{ product.id }}"
                  >
                    <div class="swiper-wrapper">
                      {%- if product.selected_or_first_available_variant.featured_media != null -%}
                        {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
                        <div
                          class="product__media-subitem swiper-slide{% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
                          data-media-sub-id="{{ section.id }}-{{ featured_media.id }}"
                        >
                          <div class="product__media">
                            {{
                              featured_media.preview_image
                              | image_url: width: 800
                              | image_tag:
                                loading: 'lazy',
                                height: '187',
                                widths: '150, 200, 250, 300, 400, 500, 600, 700, 800'
                            }}
                          </div>
                        </div>
                      {%- endif -%}

                      {%- for media in product.media -%}
                        {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                          <div
                            class="product__media-subitem swiper-slide{% if variant_images contains media.src %} product__media-item--variant{% endif %}{% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
                            data-media-sub-id="{{ section.id }}-{{ media.id }}"
                          >
                            <div class="product__media">
                              {{
                                media.preview_image
                                | image_url: width: 800
                                | image_tag:
                                  loading: 'lazy',
                                  height: '187',
                                  widths: '150, 200, 250, 300, 400, 500, 600, 700, 800'
                              }}
                            </div>
                          </div>
                        {%- endunless -%}
                      {%- endfor -%}
                    </div>
                  </div>
                </div>

                <ul class="product__media-sublist no-js-flex">
                  {%- if product.selected_or_first_available_variant.featured_media != null -%}
                    {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
                    <div
                      class="product__media-subitem{% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
                      data-media-sub-id="{{ section.id }}-{{ featured_media.id }}"
                    >
                      <div class="product__media">
                        {{
                          featured_media.preview_image
                          | image_url: width: 240
                          | image_tag: loading: 'lazy', widths: '120, 240'
                        }}
                      </div>
                    </div>
                  {%- endif -%}

                  {%- for media in product.media -%}
                    {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                      <div
                        class="product__media-subitem {% if variant_images contains media.src %} product__media-item--variant{% endif %} {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
                        data-media-sub-id="{{ section.id }}-{{ media.id }}"
                      >
                        <div class="product__media">
                          {{
                            media.preview_image
                            | image_url: width: 240
                            | image_tag: loading: 'lazy', widths: '120, 240'
                          }}
                        </div>
                      </div>
                    {%- endunless -%}
                  {%- endfor -%}
                </ul>
              {% endif %}
              <div
                class="product__media-list{% if section.settings.gallery_type != 'static_column_aside' %} js-media-list swiper no-js-hidden{% endif %}
                {%- if section.settings.gallery_type == 'bullets_aside' -%} with-pagination-bullets{%- endif -%}"
                {% if section.settings.gallery_type != 'static_column_aside' %}
                  data-js-media-list-id="slider-{{ product.id }}"
                {% endif %}
              >
                <div class="{% if section.settings.gallery_type != 'static_column_aside' %}swiper-wrapper{% else %}product__media-list-inner{% endif %}">
                  {%- liquid
                    assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
                  -%}
                  {%- if product.selected_or_first_available_variant.featured_media != null -%}
                    {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
                    <div
                      class="product__media-item{% if section.settings.gallery_type != 'static_column_aside' %} swiper-slide{% endif %}{% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
                      data-media-id="{{ section.id }}-{{ featured_media.id }}"
                      {% if section.settings.image_fit == 'contain' %}
                        style="--aspect-ratio-contain: {{featured_media.preview_image.aspect_ratio}};"
                      {% endif %}
                    >
                      {% render 'product-thumbnail',
                        product_card_product: product,
                        media: featured_media,
                        position: 'featured',
                        modal_id: section.id,
                        lazy_load: false,
                        loop: section.settings.enable_video_looping
                      %}
                    </div>
                  {%- endif -%}
                  {%- for media in product.media -%}
                    {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                      <div
                        class="product__media-item{% if section.settings.gallery_type != 'static_column_aside' %} swiper-slide{% endif %}{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if variant_images contains media.src %} product__media-item--variant{% endif %}{% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
                        data-media-id="{{ section.id }}-{{ media.id }}"
                        {% if section.settings.image_fit == 'contain' %}
                          style="--aspect-ratio-contain: {{media.preview_image.aspect_ratio}};"
                        {% endif %}
                      >
                        {% render 'product-thumbnail',
                          media: media,
                          position: forloop.index,
                          modal_id: section.id,
                          lazy_load: false,
                          loop: section.settings.enable_video_looping
                        %}
                      </div>
                    {%- endunless -%}
                  {%- endfor -%}
                </div>
                {% if section.settings.gallery_type != 'static_column_aside' %}
                  {% if product.media.size > 1 %}
                    {%- if section.settings.gallery_type == 'bullets_aside' -%}
                      <div class="container product__bullets_pagination-wrapper">
                        <div class="product__pagination swiper-pagination"></div>
                      </div>
                    {%- else -%}
                      <div class="container product__pagination-wrapper">
                        <div class="product__pagination swiper-pagination"></div>
                      </div>
                    {%- endif -%}

                    <div class="product__slider-nav container no-js-hidden">
                      <div class="swiper-button swiper-button-prev focus-inset">
                        <span>{% render 'icon-arrow' %}</span>
                      </div>
                      <div class="swiper-button swiper-button-next focus-inset">
                        <span>{% render 'icon-arrow' %}</span>
                      </div>
                    </div>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        {% else %}
          <div class="product__media-wrapper">
            <div class="product__media-list-wrapper">
              <div class="product__media-list no-js-hidden">
                <div class="product__media-item">
                  <div class="product__media media">
                    {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>

      <div id="ProductInfo-{{ section.id }}" data-section="{{ section.id }}" class="product__info-container">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'text' -%}
              <div class="product__text subheading" {{ block.shopify_attributes }}>
                {% if block.settings.text != blank %}
                  {% if product.vendor == block.settings.text and settings.enable_vendor_link %}
                    {{ block.settings.text | link_to_vendor: class: 'focus-inset' }}
                  {% else %}
                    {{ block.settings.text }}
                  {% endif %}
                {% endif %}
              </div>

            {%- when 'title' -%}
              <div class="product__title__wrapper badges-type--{{ block.settings.badges_type }}">
                <h2
                  class="product__title {{ block.settings.heading_size }}"
                  {{ block.shopify_attributes }}
                >
                  {{ product.title | escape }}
                </h2>
                {%- if product.available == false and settings.badge_soldout_show -%}
                  <span
                    class="badge badge--soldout color-{{ block.settings.badges_color }}"
                    aria-hidden="true"
                  >
                    {{- 'products.product.sold_out' | t -}}
                  </span>
                {%- elsif product.compare_at_price > product.price
                  and product.available
                  and settings.badge_sale_show
                -%}
                  <span
                    class="badge badge--sale color-{{ block.settings.badges_color }}"
                    aria-hidden="true"
                  >
                    {% if settings.badge_sale_type == 'sale' %}
                      {{- 'products.product.on_sale' | t -}}
                    {% else %}
                      {{- 'products.product.on_sale' | t -}}
                      <span>
                        {{
                          product.compare_at_price
                          | minus: product.price
                          | times: 100
                          | divided_by: product.compare_at_price
                        -}}
                        %
                      </span>
                    {% endif %}
                  </span>
                {% endif %}
                {% if settings.badge_custom_show and product.metafields.custom.badges != blank %}
                  {% if product.metafields.custom.badges.list? %}
                    {% for badge in product.metafields.custom.badges.value %}
                      <span
                        class="badge badge--custom color-{{ block.settings.badges_color }}"
                        aria-hidden="true"
                      >
                        {{ badge }}
                      </span>
                    {% endfor %}
                  {% else %}
                    <span
                      class="badge badge--custom color-{{ block.settings.badges_color }}"
                      aria-hidden="true"
                    >
                      {{ product.metafields.custom.badges }}
                    </span>
                  {% endif %}
                {%- endif -%}
              </div>

            {%- when 'price' -%}
              <div class="no-js-hidden price-wrapper" id="price-{{ section.id }}" {{ block.shopify_attributes }}>
                {%- render 'price',
                  product: product,
                  use_variant: true,
                  show_badges: false,
                  price_class: 'price--product'
                -%}
              </div>

              <div class="product__tax">
                {%- if cart.taxes_included and block.settings.show_tax_info -%}
                  {{ 'products.product.include_taxes' | t }}
                {%- endif -%}
                {%- if shop.shipping_policy.body != blank and block.settings.show_shipping -%}
                  {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {%- endif -%}
              </div>

              <div class="installment-wrapper" {{ block.shopify_attributes }}>
                {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
                {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                  {{ form | payment_terms }}
                {%- endform -%}
              </div>

            {%- when 'description' -%}
              {% if block.settings.description != blank or product.description != blank %}
                <div class="product__description rte" {{ block.shopify_attributes }}>
                  {% if block.settings.description != blank %}
                    {{- block.settings.description | escape -}}
                  {% else %}
                    {{- product.description -}}
                  {% endif %}
                </div>
              {% endif %}

            {%- when 'sku' -%}
              <p
                class="product__sku no-js-hidden{% if product.selected_or_first_available_variant.sku.size == 0 %} visibility-hidden{% endif %}"
                id="Sku-{{ section.id }}"
                role="status"
                {{ block.shopify_attributes }}
              >
                <span class="visually-hidden">{{ 'products.product.sku' | t }}:</span>
                {{- product.selected_or_first_available_variant.sku -}}
              </p>

            {%- when 'inventory' -%}
              {% if product.selected_or_first_available_variant.inventory_management == 'shopify' %}
                <div id="Inventory-{{ section.id }}" class="product__inventory" {{ block.shopify_attributes }}>
                  <span class="product__inventory-inner product__inventory-inner--{% if product.selected_or_first_available_variant.inventory_quantity == 0 %}empty{% elsif product.selected_or_first_available_variant.inventory_quantity > 0 and product.selected_or_first_available_variant.inventory_quantity < 10 %}error{% endif %}">
                    {% if product.selected_or_first_available_variant.inventory_quantity > 0 %}
                      {% render 'icon-check' %}
                      {{
                        'products.product.quantity.in_stock'
                        | t: quantity: product.selected_or_first_available_variant.inventory_quantity
                      }}
                    {% else %}
                      {% render 'icon-close' %}
                      {{ 'products.product.quantity.out_of_stock' | t }}
                    {% endif %}
                  </span>

                  {% if block.settings.show_shipping
                    and block.settings.min_spend > 0
                    and product.selected_or_first_available_variant.inventory_quantity > 0
                  %}
                    {% liquid
                      assign amount = block.settings.min_spend | plus: 0.5 | floor | times: 100 | money_without_trailing_zeros
                    %}
                    <span class="product__inventory-inner product__inventory-inner--shipping js-free-shipping">
                      {% render 'icon-check' %}
                      {{ 'products.product.free_shipping_info' | t }}&nbsp;
                      <span
                        class="free-shipping-total"
                        data-min-spend="{{block.settings.min_spend | plus: 0.5 | floor}}"
                      >
                        {{ amount }}
                      </span>
                    </span>
                  {% endif %}
                </div>
              {% endif %}

            {%- when 'variant_picker' -%}
              <div class="product-parameters">
                {% unless product.has_only_default_variant %}
                  {% if block.settings.picker_type == 'button' %}
                    <variant-radios
                      id="variant-radios-{{ section.id }}"
                      class="no-js-hidden"
                      data-section="{{ section.id }}"
                      data-url="{{ product.url }}"
                      {{ block.shopify_attributes }}
                    >
                      {%- for option in product.options_with_values -%}
                        {% liquid
                          assign color_trigger = settings.trigger_swatch | append: '<br />' | append: settings.trigger_swatch_other | strip | newline_to_br | split: '<br />'
                          assign name_option = option.name | handle | strip

                          # check is color option or not
                          assign is_color_option = false
                          # for custom swatch type
                          if settings.type_color_swatch == 'custom'
                            for item in color_trigger
                              assign item_temp = item | handle | strip
                              if name_option == item_temp
                                assign is_color_option = true
                              endif
                            endfor
                          endif

                          # for standart swatch type
                          if settings.type_color_swatch == 'standart'
                            for value in option.values
                              if value.swatch.color != blank
                                assign is_color_option = true
                              endif
                            endfor
                          endif
                        %}

                        <fieldset
                          class="product-form__controls{% if is_color_option %} product-form__controls--colors{% endif %}"
                          id="SingleOptionSelector-{{ forloop.index0 }}"
                        >
                          <div class="product-form__group-wrapper">
                            <legend class="product-form__group-name">
                              {{ option.name }}
                            </legend>
                            <div class="product-form__controls-group">
                              {% render 'product-variant-options',
                                product: product,
                                option: option,
                                block: block,
                                show_color_swatch: is_color_option
                              %}
                            </div>
                          </div>
                        </fieldset>
                      {%- endfor -%}

                      <script type="application/json">
                        {{ product.variants | json }}
                      </script>
                    </variant-radios>
                  {% else %}
                    <variant-selects
                      id="variant-selects-{{ section.id }}"
                      class="no-js-hidden"
                      data-section="{{ section.id }}"
                      data-url="{{ product.url }}"
                      {{ block.shopify_attributes }}
                    >
                      {%- for option in product.options_with_values -%}
                        {% comment %}
                          !!! Color swatches are no longer supported in Dropdown type, as there was an error when selecting options in some situations
                        {% endcomment %}

                        <fieldset class="product-form__controls">
                          <div class="product-form__group-wrapper">
                            <label for="Option-{{ section.id }}-{{ forloop.index0 }}" class="product-form__group-name">
                              {{ option.name }}
                            </label>
                            <div class="product-form__controls-group">
                              <div class="select">
                                <select
                                  name="options[{{ option.name | escape }}]"
                                  id="Option-{{ section.id }}-{{ forloop.index0 }}"
                                  class="select__select"
                                  form="{{ product_form_id }}"
                                >
                                  {% render 'product-variant-options',
                                    product: product,
                                    option: option,
                                    block: block,
                                    show_color_swatch: false
                                  %}
                                </select>
                                {% render 'icon-caret' %}
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      {% endfor %}
                      <script type="application/json">
                        {{ product.variants | json }}
                      </script>
                    </variant-selects>
                  {% endif %}
                {% endunless %}

                <noscript class="product-form__noscript-wrapper-{{ section.id }}">
                  <fieldset class="product-form__controls {% if product.has_only_default_variant %} hidden{% endif %}">
                    <div class="product-form__group-wrapper">
                      <label for="Variants-{{ section.id }}" class="product-form__group-name">
                        {{- 'products.product.product_variants' | t -}}
                      </label>
                      <div class="product-form__controls-group">
                        <div class="select">
                          <select
                            name="id"
                            id="Variants-{{ section.id }}"
                            class="select__select"
                            form="{{ product_form_id }}"
                          >
                            {%- for variant in product.variants -%}
                              <option
                                {% if variant == product.selected_or_first_available_variant %}
                                  selected="selected"
                                {% endif %}
                                {% if variant.available == false %}
                                  disabled
                                {% endif %}
                                value="{{ variant.id }}"
                              >
                                {%- liquid
                                  echo variant.title
                                  if settings.currency_code_enabled
                                    echo variant.price | money_with_currency | strip_html | prepend: ' - '
                                  else
                                    echo variant.price | money | strip_html | prepend: ' - '
                                  endif
                                  if variant.available == false
                                    echo 'products.product.sold_out' | t | prepend: ' - '
                                  endif
                                  if variant.quantity_rule.increment > 1
                                    echo 'products.product.quantity.multiples_of' | t: quantity: variant.quantity_rule.increment | prepend: ' - '
                                  endif
                                  if variant.quantity_rule.min > 1
                                    echo 'products.product.quantity.minimum_of' | t: quantity: variant.quantity_rule.min | prepend: ' - '
                                  endif
                                  if variant.quantity_rule.max != null
                                    echo 'products.product.quantity.maximum_of' | t: quantity: variant.quantity_rule.max | prepend: ' - '
                                  endif
                                  assign cart_quantity = cart | item_count_for_variant: variant.id
                                  if cart_quantity > 0
                                    echo 'products.product.quantity.in_cart_html' | t: quantity: cart_quantity | prepend: ' - '
                                  endif
                                -%}
                              </option>
                            {%- endfor -%}
                          </select>
                          {% render 'icon-caret' %}
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </noscript>
              </div>

            {%- when 'buy_buttons' -%}
              <div class="product__buy-buttons" {{ block.shopify_attributes }}>
                {%- liquid
                  assign gift_card_recipient_feature_active = false
                  if block.settings.show_gift_card_recipient and product.gift_card?
                    assign gift_card_recipient_feature_active = true
                  endif

                  assign show_dynamic_checkout = false
                  if block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false
                    assign show_dynamic_checkout = true
                  endif
                -%}

                <product-form class="product-form" data-hide-errors="{{ gift_card_recipient_feature_active }}">
                  <div class="product-form__error-message-wrapper" role="alert" hidden>
                    {%- render 'icon-error' -%}
                    <span class="product-form__error-message"></span>
                  </div>
                  {%- form 'product',
                    product,
                    id: product_form_id,
                    class: 'form',
                    novalidate: 'novalidate',
                    data-type: 'add-to-cart-form'
                  -%}
                    <input
                      type="hidden"
                      name="id"
                      value="{{ product.selected_or_first_available_variant.id }}"
                      {% if product.selected_or_first_available_variant.available == false %}
                        disabled
                      {% endif %}
                    >

                    {%- if gift_card_recipient_feature_active -%}
                      {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
                    {%- endif -%}

                    <div class="product-form__buttons">
                      <div class="product-form__buttons-row">
                        {% if block.settings.show_quantity %}
                          <div
                            class="product-form__input product-form__quantity no-js-hidden"
                            {{ block.shopify_attributes }}
                          >
                            {%- assign cart_qty = cart
                              | item_count_for_variant: product.selected_or_first_available_variant.id
                            -%}
                            <quantity-input class="quantity{% if product.selected_or_first_available_variant.available == false %} disabled{% endif %}">
                              <button class="quantity__button no-js-hidden focus-inset" name="minus" type="button">
                                <span class="visually-hidden">
                                  {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                                </span>
                                {% render 'icon-minus' %}
                              </button>
                              <input
                                class="quantity__input focus-inset"
                                type="number"
                                name="quantity"
                                id="Quantity-{{ section.id }}"
                                data-cart-quantity="{{ cart_qty }}"
                                data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                                min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                                {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                                  data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                                  max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                                {% endif %}
                                step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                                {% if product.selected_or_first_available_variant.available %}
                                  value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                                {% else %}
                                  value="0"
                                {% endif %}
                                form="{{ product_form_id }}"
                              >
                              <label class="visually-hidden" for="Quantity-{{ section.id }}">
                                {{ 'products.product.quantity.label' | t }}
                              </label>
                              <button class="quantity__button no-js-hidden focus-inset" name="plus" type="button">
                                <span class="visually-hidden">
                                  {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                                </span>
                                {% render 'icon-plus' %}
                              </button>
                            </quantity-input>
                            <div class="quantity__rules caption">
                              {%- if product.selected_or_first_available_variant.quantity_rule.increment > 1 -%}
                                <span class="divider">
                                  {{-
                                    'products.product.quantity.multiples_of'
                                    | t: quantity: product.selected_or_first_available_variant.quantity_rule.increment
                                  -}}
                                </span>
                              {%- endif -%}
                              {%- if product.selected_or_first_available_variant.quantity_rule.min > 1 -%}
                                <span class="divider">
                                  {{-
                                    'products.product.quantity.minimum_of'
                                    | t: quantity: product.selected_or_first_available_variant.quantity_rule.min
                                  -}}
                                </span>
                              {%- endif -%}
                              {%- if product.selected_or_first_available_variant.quantity_rule.max != null -%}
                                <span class="divider">
                                  {{-
                                    'products.product.quantity.maximum_of'
                                    | t: quantity: product.selected_or_first_available_variant.quantity_rule.max
                                  -}}
                                </span>
                              {%- endif -%}
                            </div>
                          </div>
                        {% endif %}

                        <button
                          type="submit"
                          name="add"
                          class="product-form__submit button button--{% if show_dynamic_checkout %}secondary {% else %}primary {% endif %} button--primary-size focus-inset"
                          {% if product.selected_or_first_available_variant.available == false %}
                            disabled
                          {% else %}
                            data-button-text="{{ 'products.product.add_to_cart' | t }}"
                          {% endif %}
                        >
                          {%- if product.selected_or_first_available_variant.available -%}
                            <span>
                              {{ 'products.product.add_to_cart' | t }}
                            </span>
                            <div class="loading-overlay__spinner hidden">
                              {%- render 'icon-spinner' -%}
                            </div>
                          {%- else -%}
                            <span>
                              {{ 'products.product.sold_out' | t }}
                            </span>
                          {%- endif -%}
                        </button>
                      </div>

                      <div class="product-form__checkout no-js-hidden">
                        {%- if show_dynamic_checkout -%}
                          {{ form | payment_button }}
                        {%- endif -%}
                      </div>
                    </div>
                  {%- endform -%}
                </product-form>
              </div>

            {%- when 'pickup_availability' -%}
              <div class="pickup-availability" {{ block.shopify_attributes }}>
                {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

                {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities
                  | where: 'pick_up_enabled', true
                -%}

                <pickup-availability
                  class="product__pickup-availabilities no-js-hidden"
                  {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}
                    available
                  {% endif %}
                  data-base-url="{{ shop.url }}{{ routes.root_url }}"
                  data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                  data-has-only-default-variant="{{ product.has_only_default_variant }}"
                >
                  <template>
                    <pickup-availability-preview class="pickup-availability-preview">
                      {% render 'icon-pickup' %}
                      <div class="pickup-availability-info">
                        <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                        <button class="pickup-availability-button button button--simple focus-inset">
                          <span>{{ 'products.product.pickup_availability.refresh' | t }}</span>
                        </button>
                      </div>
                    </pickup-availability-preview>
                  </template>
                </pickup-availability>
                <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
              </div>

            {%- when 'custom_liquid' -%}
              <div class="custom-liquid" {{ block.shopify_attributes }}>
                {{ block.settings.custom_liquid }}
              </div>

            {%- when 'share' -%}
              {%- if block.settings.show_share_facebook
                or block.settings.show_share_twitter
                or block.settings.show_share_pinterest
                or block.settings.show_share_copy
              -%}
                <div
                  class="share-buttons"
                  aria-label="list"
                  {{ block.shopify_attributes }}
                >
                  <ul class="share-buttons-simple list-unstyled">
                    {%- if block.settings.show_share_facebook -%}
                      <li class="share-buttons-simple__item">
                        <a
                          href="https://www.facebook.com/sharer.php?u={{ shop.url | append: product.url }}"
                          class="share-buttons-simple__button facebook-btn focus-inset"
                          target="_blank"
                        >
                          {% render 'icon-facebook' %}
                        </a>
                      </li>
                    {%- endif -%}

                    {%- if block.settings.show_share_twitter -%}
                      <li class="share-buttons-simple__item">
                        <a
                          href="https://twitter.com/share?url={{ shop.url | append: product.url }}&text={{ product.title | escape }}"
                          class="share-buttons-simple__button twitter-btn focus-inset"
                          target="_blank"
                        >
                          {% render 'icon-twitter' %}
                        </a>
                      </li>
                    {%- endif -%}

                    {%- if block.settings.show_share_telegram -%}
                      <li class="share-buttons-simple__item">
                        <a
                          href="https://t.me/share/url?url={{ shop.url | append: product.url }}&text={{ product.title | escape }}"
                          class="share-buttons-simple__button telegram-btn focus-inset"
                          target="_blank"
                        >
                          {% render 'icon-telegram' %}
                        </a>
                      </li>
                    {%- endif -%}

                    {%- if block.settings.show_share_reddit -%}
                      <li class="share-buttons-simple__item">
                        <a
                          href="https://reddit.com/submit?url={{ shop.url | append: product.url }}&text={{ product.title | escape }}"
                          class="share-buttons-simple__button pinterest-btn focus-inset"
                          target="_blank"
                        >
                          {% render 'icon-reddit' %}
                        </a>
                      </li>
                    {%- endif -%}

                    {%- if block.settings.show_share_copy -%}
                      <li class="share-buttons-simple__item">
                        <a
                          href="{{ shop.url | append: product.url }}"
                          class="share-buttons-simple__button copy-btn focus-inset"
                          data-notification="{{ 'general.notification.copied_link' | t }}"
                        >
                          {% render 'icon-share' %}
                        </a>
                      </li>
                    {%- endif -%}
                  </ul>
                </div>
              {%- endif -%}

            {%- when 'popup' -%}
              <div class="product-popup">
                <modal-opener
                  class="no-js-hidden"
                  data-modal="#PopupModal-{{ block.id }}"
                  {{ block.shopify_attributes }}
                >
                  <button
                    id="ProductPopup-{{ block.id }}"
                    class="button focus-inset"
                    type="button"
                    aria-haspopup="dialog"
                  >
                    <span>{{ block.settings.label }}</span>
                  </button>
                </modal-opener>

                <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
                  <div
                    role="dialog"
                    aria-label="{{ block.settings.label }}"
                    aria-modal="true"
                    class="product-popup-modal__dialog"
                    tabindex="-1"
                  >
                    <button
                      id="ModalClose-{{ block.id }}"
                      type="button"
                      class="product-popup-modal__close modal-close-button focus-inset"
                      aria-label="{{ 'accessibility.close' | t }}"
                    >
                      {% render 'icon-close' %}
                    </button>
                    <h3 class="product-popup-modal__title">
                      {% if block.settings.page != blank %}
                        {{ block.settings.page.title }}
                      {% else %}
                        {{ block.settings.heading }}
                      {% endif %}
                    </h3>
                    <div class="product-popup-modal__content">
                      {% if block.settings.page != blank %}
                        <div class="rte">
                          {{ block.settings.page.content }}
                        </div>
                      {% else %}
                        <div class="product-popup-modal__text rte">
                          {{ block.settings.text }}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </modal-dialog>
              </div>

            {%- when 'dropdown_information' -%}
              <div class="about">
                <div class="about__accordion-item" {{ block.shopify_attributes }}>
                  <button
                    class="about__accordion-toggle focus-inset button--unstyled{% if block.settings.default_open %} active{% endif %}"
                    aria-label="{{ block.settings.heading | escape }}"
                  >
                    <span class="about__accordion-title">
                      {{ block.settings.heading | escape }}
                    </span>
                  </button>
                  <div
                    class="about__accordion-description richtext__content"
                    {% if block.settings.default_open %}
                      style="display: block;"
                    {% endif %}
                  >
                    {% if block.settings.characteristics %}
                      {%- if product.metafields.characteristics.name.value.size > 0 -%}
                        {%- for item in product.metafields.characteristics.name.value -%}
                          <div class="about__row">
                            <span>{{ item }}</span>
                            <span>{{ product.metafields.characteristics.description.value[forloop.index0] }}</span>
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% else %}
                      {% if block.settings.description != blank %}
                        {{ block.settings.description }}
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              </div>

            {%- when 'sticky_add_to_cart' -%}
              <div
                class="sticky-add-to-cart{% if block.settings.enable_border %} sticky-add-to-cart--border{% endif %} color-{{ block.settings.color_scheme }}"
                {{ block.shopify_attributes }}
              >
                <div class="sticky-add-to-cart__wrapper">
                  <div class="sticky-add-to-cart__info">
                    <div class="product__title h4">
                      {{- product.title | escape -}}
                    </div>
                    {%- render 'price', product: product, use_variant: true, show_badges: false -%}
                  </div>

                  <product-form class="product-form" data-hide-errors="{{ gift_card_recipient_feature_active }}">
                    {%- assign product_form_id_2 = 'product-form-sticky' | append: section.id -%}
                    {%- form 'product',
                      product,
                      id: product_form_id_2,
                      class: 'form',
                      novalidate: 'novalidate',
                      data-type: 'add-to-cart-form'
                    -%}
                      <input
                        type="hidden"
                        name="id"
                        value="{{ product.selected_or_first_available_variant.id }}"
                        {% if product.selected_or_first_available_variant.available == false %}
                          disabled
                        {% endif %}
                      >

                      <div class="product-form__buttons">
                        <div class="product-form__buttons-row">
                          <button
                            type="submit"
                            name="add"
                            class="product-form__submit button button--primary button--primary-size focus-inset"
                            {% if product.selected_or_first_available_variant.available == false %}
                              disabled
                            {% else %}
                              data-button-text="{{ 'products.product.add_to_cart' | t }}"
                            {% endif %}
                          >
                            {%- if product.selected_or_first_available_variant.available -%}
                              <span>
                                {{ 'products.product.add_to_cart' | t }}
                              </span>
                              <div class="loading-overlay__spinner hidden">
                                {%- render 'icon-spinner' -%}
                              </div>
                            {%- else -%}
                              <span>
                                {{ 'products.product.sold_out' | t }}
                              </span>
                            {%- endif -%}
                          </button>
                        </div>
                      </div>
                    {%- endform -%}
                    <div class="product-form__error-message-wrapper" role="alert" hidden>
                      {%- render 'icon-error' -%}
                      <span class="product-form__error-message"></span>
                    </div>
                  </product-form>
                </div>
              </div>

            {%- when '@app' -%}
              {% assign app_name = block.id | slice: 0, 30 %}
              {% if app_name == 'judge_me_reviews_review_widget' %}
                <div class="about">
                  <div class="about__accordion-item">
                    <button
                      class="about__accordion-toggle focus-inset button--unstyled"
                      aria-label="{{ 'products.product.reviews' | t }}"
                    >
                      <span class="about__accordion-title">
                        {{ 'products.product.reviews' | t }}
                      </span>
                    </button>
                    <div class="about__accordion-description">
                      {% render block %}
                    </div>
                  </div>
                </div>
              {% else %}
                {% render block %}
              {% endif %}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>

  <product-modal id="ProductModal-{{ section.id }}" class="product-media-modal">
    <div
      class="product-media-modal__dialog"
      role="dialog"
      aria-label="{{ 'products.modal.label' | t }}"
      aria-modal="true"
      tabindex="-1"
    >
      <button
        id="ModalClose-{{ section.id }}"
        type="button"
        class="product-media-modal__toggle modal-close-button focus-inset"
        aria-label="{{ 'accessibility.close' | t }}"
      >
        {% render 'icon-close' %}
      </button>

      <div
        class="product-media-modal__content swiper js-popup-slider"
        role="document"
        aria-label="{{ 'products.modal.label' | t }}"
        tabindex="0"
      >
        <div class="swiper-wrapper">
          {%- for media in product.media -%}
            <div
              class="swiper-slide product-media-modal__item {% if section.settings.image_fit_modal == 'contain' %} product-media-modal__item--contain{% endif %}"
              data-media-modal-id="{{ section.id }}-{{ media.id }}"
            >
              {%- if media.media_type == 'image' -%}
                {% capture sizes %}
                  height 150vh
                {% endcapture %}
                {% capture class %}
                  {%- if media.media_type == 'image' -%} js-image-zoom{%- endif -%}
                {% endcapture %}
                {{
                  media.preview_image
                  | image_url: width: media.preview_image.width
                  | image_tag:
                    class: class,
                    loading: 'lazy',
                    widths: '550, 1100, 1445, 1680, 1750, 1920, 2048, 2200, 2890, 3000, 3200, 3400, 3600, 3800, 4096',
                    sizes: sizes,
                    data-media-id: media.id
                }}
              {%- else -%}
                {%- if media.media_type == 'model' -%}
                  <div class="product-media-modal__model" data-media-id="{{ media.id }}">
                    <product-model class="deferred-media media">
                {%- else -%}
                  <deferred-media class="deferred-media media" data-media-id="{{ media.id }}">
                {%- endif -%}

                <button
                  id="Deferred-Poster-Modal-{{ media.id }}"
                  class="deferred-media__poster focus-inset"
                  type="button"
                >
                  <span class="deferred-media__poster-button motion-reduce">
                    {%- if media.media_type == 'model' -%}
                      {%- render 'icon-3d-model' -%}
                    {%- else -%}
                      {%- render 'icon-play' -%}
                    {%- endif -%}
                  </span>
                  {% capture sizes %}
                    height 150vh
                  {% endcapture %}
                  {{
                    media.preview_image
                    | image_url: width: 3600
                    | image_tag:
                      loading: 'lazy',
                      widths: '550, 1100, 1445, 1680, 1750, 1920, 2048, 2200, 2890, 3000, 3200, 3400, 3600, 3800, 4096',
                      sizes: sizes,
                      data-media-id: media.id
                  }}
                </button>
                <template>
                  {%- case media.media_type -%}
                    {%- when 'external_video' -%}
                      {%- assign video_class = 'js-' | append: media.host -%}
                      {%- if media.host == 'youtube' -%}
                        {{
                          media
                          | external_video_url:
                            autoplay: true,
                            loop: section.settings.enable_video_looping,
                            playlist: media.external_id
                          | external_video_tag: class: video_class, loading: 'lazy'
                        }}
                      {%- else -%}
                        {{
                          media
                          | external_video_url: autoplay: true, loop: section.settings.enable_video_looping
                          | external_video_tag: class: video_class, loading: 'lazy'
                        }}
                      {%- endif -%}
                    {%- when 'video' -%}
                      {{
                        media
                        | media_tag:
                          image_size: '2048x',
                          autoplay: true,
                          loop: section.settings.enable_video_looping,
                          controls: true,
                          preload: 'none'
                      }}
                    {%- when 'model' -%}
                      {{ media | media_tag: image_size: '2048x', toggleable: true }}
                  {%- endcase -%}
                </template>

                {%- if media.media_type == 'model' -%}
                  </product-model>
                  <button
                    class="button button--full-width product__xr-button focus-inset"
                    type="button"
                    aria-label="{{ 'products.product.xr_button_label' | t }}"
                    data-shopify-xr
                    data-shopify-model3d-id="{{ media.id }}"
                    data-shopify-title="title"
                    data-shopify-xr-hidden
                  >
                    {% render 'icon-3d-model' %}
                    {{ 'products.product.xr_button' | t }}
                  </button>
                  </div>
                {%- else -%}
                  </deferred-media>
                {%- endif -%}
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>

    {% if product.media.size > 1 %}
      <div class="container product__pagination-wrapper">
        <div class="product__pagination swiper-pagination"></div>
      </div>

      <div class="container product__slider-nav no-js-hidden">
        <div class="swiper-button swiper-button-prev focus-inset">
          <span>{% render 'icon-arrow' %}</span>
        </div>
        <div class="swiper-button swiper-button-next focus-inset">
          <span>{% render 'icon-arrow' %}</span>
        </div>
      </div>
    {% endif %}
  </product-modal>

  <script type="application/ld+json">
    {{ product | structured_data }}
  </script>
</section>

{% javascript %}
  class ProductModal extends ModalDialog {
    constructor() {
      super();
    }

    hide() {
      super.hide();
      window.pauseAllMedia();
    }

    show(opener) {
      super.show(opener);
      this.showActiveMedia();
    }

    showActiveMedia() {
      const activeMedia = this.querySelector(`[data-media-id="${this.openedBy.getAttribute('data-media-id')}"]`);

      if (
        activeMedia.nodeName == 'DEFERRED-MEDIA' &&
        activeMedia.querySelector('template')?.content?.querySelector('.js-youtube')
      ) {
        activeMedia.loadContent();
      }
    }
  }

  customElements.define('product-modal', ProductModal);
{% endjavascript %}

{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>

  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "limit": 1,
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "{{ product.vendor }}",
          "label": "t:sections.main-product.blocks.text.name"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "select",
          "id": "badges_type",
          "options": [
            {
              "value": "inline",
              "label": "t:sections.main-product.blocks.title.settings.badges_type.options__1.label"
            },
            {
              "value": "block",
              "label": "t:sections.main-product.blocks.title.settings.badges_type.options__2.label"
            }
          ],
          "default": "inline",
          "label": "t:sections.main-product.blocks.title.settings.badges_type.label",
          "info": "t:sections.main-product.blocks.title.settings.badges_type.info"
        },
        {
          "type": "color_scheme",
          "id": "badges_color",
          "default": "background-2",
          "label": "t:sections.main-product.blocks.title.settings.badges_color.label",
          "info": "t:sections.main-product.blocks.title.settings.badges_color.info"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_tax_info",
          "default": false,
          "label": "t:sections.main-product.blocks.price.settings.show_tax_info.label",
          "info": "t:sections.main-product.blocks.price.settings.show_tax_info.info"
        },
        {
          "type": "checkbox",
          "id": "show_shipping",
          "default": false,
          "label": "t:sections.main-product.blocks.price.settings.show_shipping.label",
          "info": "t:sections.main-product.blocks.price.settings.show_shipping.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "description",
          "label": "t:sections.all.text.label",
          "info": "t:sections.main-product.blocks.description.settings.text.info"
        }
      ]
    },
    {
      "type": "sku",
      "name": "t:sections.main-product.blocks.sku.name",
      "limit": 1
    },
    {
      "type": "inventory",
      "name": "t:sections.main-product.blocks.inventory.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.inventory.settings.header_shipping.content"
        },
        {
          "type": "checkbox",
          "id": "show_shipping",
          "label": "t:sections.main-product.blocks.inventory.settings.show_shipping.label",
          "default": true
        },
        {
          "type": "number",
          "id": "min_spend",
          "label": "t:sections.main-product.blocks.inventory.settings.min_spend.label",
          "info": "t:sections.main-product.blocks.inventory.settings.min_spend.info",
          "default": 500
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        },
        {
          "type": "checkbox",
          "id": "show_quantity",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_quantity.label"
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": false,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
        }
      ]
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_share_facebook",
          "default": true,
          "label": "t:sections.main-product.blocks.share.settings.show_share_facebook.label"
        },
        {
          "type": "checkbox",
          "id": "show_share_twitter",
          "default": true,
          "label": "t:sections.main-product.blocks.share.settings.show_share_twitter.label"
        },
        {
          "type": "checkbox",
          "id": "show_share_telegram",
          "default": true,
          "label": "t:sections.main-product.blocks.share.settings.show_share_telegram.label"
        },
        {
          "type": "checkbox",
          "id": "show_share_reddit",
          "default": true,
          "label": "t:sections.main-product.blocks.share.settings.show_share_reddit.label"
        },
        {
          "type": "checkbox",
          "id": "show_share_copy",
          "default": true,
          "label": "t:sections.main-product.blocks.share.settings.show_share_copy.label"
        }
      ]
    },
    {
      "type": "pickup_availability",
      "name": "t:sections.main-product.blocks.pickup_availability.name",
      "limit": 1
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "dropdown_information",
      "name": "t:sections.main-product.blocks.dropdown_information.name",
      "limit": 6,
      "settings": [
        {
          "type": "checkbox",
          "id": "characteristics",
          "default": false,
          "label": "t:sections.main-product.blocks.dropdown_information.settings.characteristics.label",
          "info": "t:sections.main-product.blocks.dropdown_information.settings.characteristics.info"
        },
        {
          "id": "heading",
          "type": "text",
          "default": "t:sections.main-product.blocks.dropdown_information.settings.heading.default",
          "label": "t:sections.all.heading.label"
        },
        {
          "type": "richtext",
          "id": "description",
          "default": "t:sections.main-product.blocks.dropdown_information.settings.description.default",
          "label": "t:sections.all.text.label"
        },
        {
          "type": "checkbox",
          "id": "default_open",
          "default": false,
          "label": "t:sections.main-product.blocks.dropdown_information.settings.default_open.label"
        }
      ]
    },
    {
      "type": "sticky_add_to_cart",
      "name": "t:sections.main-product.blocks.sticky_add_to_cart.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.sticky_add_to_cart.settings.info.content"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "default": "background-1",
          "label": "t:sections.all.color_scheme.label"
        },
        {
          "type": "checkbox",
          "id": "enable_border",
          "default": true,
          "label": "t:sections.main-product.blocks.sticky_add_to_cart.settings.enable_border.label"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "limit": 2,
      "settings": [
        {
          "id": "label",
          "type": "text",
          "default": "t:sections.main-product.blocks.popup.settings.label.default",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label",
          "info": "t:sections.main-product.blocks.popup.settings.page.info"
        },
        {
          "id": "heading",
          "type": "text",
          "default": "t:sections.main-product.blocks.popup.settings.heading.default",
          "label": "t:sections.main-product.blocks.popup.settings.heading.label",
          "info": "t:sections.main-product.blocks.popup.settings.heading.info"
        },
        {
          "id": "text",
          "type": "richtext",
          "default": "t:sections.main-product.blocks.popup.settings.text.default",
          "label": "t:sections.main-product.blocks.popup.settings.text.label",
          "info": "t:sections.main-product.blocks.popup.settings.heading.info"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "select",
      "id": "desktop_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.main-product.settings.desktop_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.main-product.settings.desktop_alignment.options__1.label"
        }
      ],
      "default": "left",
      "label": "t:sections.main-product.settings.desktop_alignment.label"
    },
    {
      "type": "select",
      "id": "mobile_alignment",
      "options": [
        {
          "value": "before",
          "label": "t:sections.main-product.settings.mobile_alignment.options__2.label"
        },
        {
          "value": "after",
          "label": "t:sections.main-product.settings.mobile_alignment.options__1.label"
        }
      ],
      "default": "before",
      "label": "t:sections.main-product.settings.mobile_alignment.label"
    },
    {
      "type": "select",
      "id": "gallery_type",
      "options": [
        {
          "value": "thumbs_aside",
          "label": "t:sections.main-product.settings.gallery_type.options__1.label"
        },
        {
          "value": "static_column_aside",
          "label": "t:sections.main-product.settings.gallery_type.options__2.label"
        },
        {
          "value": "bullets_aside",
          "label": "t:sections.main-product.settings.gallery_type.options__3.label"
        }
      ],
      "default": "thumbs_aside",
      "label": "t:sections.main-product.settings.gallery_type.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "3/2",
          "label": "t:sections.all.card.image_ratio.options__1.label"
        },
        {
          "value": "3/4",
          "label": "t:sections.all.card.image_ratio.options__2.label"
        },
        {
          "value": "1/1",
          "label": "t:sections.all.card.image_ratio.options__3.label"
        }
      ],
      "default": "3/4",
      "label": "t:sections.all.card.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_fit",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.card.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.all.card.image_fit.options__2.label"
        }
      ],
      "default": "cover",
      "label": "t:sections.all.card.image_fit.label"
    },
    {
      "type": "select",
      "id": "image_fit_modal",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.card.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.all.card.image_fit.options__2.label"
        }
      ],
      "default": "contain",
      "label": "t:sections.all.card.image_fit.label",
      "info": "t:sections.main-product.settings.image_fit_modal.info"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.border.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_border_bottom",
      "default": true,
      "label": "t:sections.all.border.border_enable_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-padding.header.content"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "l",
      "label": "t:sections.all.section-padding.padding_bottom.label"
    }
  ]
}
{% endschema %}
