{{ 'section-newsletter.css' | asset_url | stylesheet_tag }}

{%- style -%}
  {% render 'section-margin' %}
  {% render 'section-padding' %}
{%- endstyle -%}

<div
  class="newsletter background color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding {% if section.settings.show_border_top %} newsletter--border-top{% endif %} {% if section.settings.show_border_bottom %} newsletter--border-bottom {% endif %}"
  style="--opacity-overlay: {{ section.settings.overlay_opacity }}"
>
  {%- if section.settings.image != blank -%}
    {%- if section.settings.overlay_enable -%}
      <span class="newsletter__overlay"></span>
    {% endif %}
    <div class="newsletter__image">
      {{
        section.settings.image
        | image_url: width: section.settings.image.width
        | image_tag:
          loading: 'lazy',
          sizes: '100vw',
          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
      }}
    </div>
  {%- endif -%}
  <div class="container">
    <div class="newsletter__wrapper newsletter__wrapper--{{ section.settings.align_content }}">
      <h2 class="newsletter__title {{ section.settings.heading_size }}">
        {{ section.settings.heading }}
      </h2>
      <div class="newsletter-form__wrapper">
        {% form 'customer', class: 'newsletter-form' %}
          <div class="newsletter-form__inner">
            <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="newsletter-form__field-wrapper">
              <div class="field">
                <input
                  id="NewsletterForm--{{ section.id }}"
                  type="email"
                  name="contact[email]"
                  class="field__input field"
                  value="{{ form.email }}"
                  aria-required="true"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                  {% if form.errors %}
                    autofocus
                    aria-invalid="true"
                    aria-describedby="Newsletter-error--{{ section.id }}"
                  {% elsif form.posted_successfully? %}
                    aria-describedby="Newsletter-success--{{ section.id }}"
                  {% endif %}
                  placeholder="{{ 'newsletter.placeholder' | t }}"
                  required
                >
                <label class="visually-hidden" for="NewsletterForm--{{ section.id }}">
                  {{ 'newsletter.label' | t }}
                </label>
              </div>
            </div>
            <button
              type="submit"
              class="newsletter-form__button button button--{{ section.settings.button_style }} button--primary-size focus-inset"
              name="commit"
              data-button-text="{{ 'newsletter.button_label' | t }}"
            >
              <span>
                {{ 'newsletter.button_label' | t }}
              </span>
            </button>
          </div>
          {%- if form.errors -%}
            <small
              class="newsletter-form__message form__message"
              id="Newsletter-error--{{ section.id }}"
            >
              {%- render 'icon-error' -%}
              {{- form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email -}}
            </small>
          {%- endif -%}
          {%- if form.posted_successfully? -%}
            <h3
              class="newsletter-form__message newsletter-form__message--success form__message"
              id="Newsletter-success--{{ section.id }}"
              tabindex="-1"
              autofocus
            >
              {% render 'icon-success' -%}
              {{- 'newsletter.success' | t }}
            </h3>
          {%- endif -%}
        {% endform %}
        <div class="newsletter-form__text">
          {{ section.settings.newsletter_text }}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "tag": "section",
  "class": "spaced-section",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.newsletter.settings.paragraph.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-1",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.all.image.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.overlay.header.content",
      "info": "t:sections.all.overlay.overlay_enable.info"
    },
    {
      "type": "checkbox",
      "id": "overlay_enable",
      "default": true,
      "label": "t:sections.all.overlay.overlay_enable.label"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 0.5,
      "label": "t:sections.all.overlay.overlay_opacity.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_options.header.content"
    },
    {
      "type": "select",
      "id": "align_content",
      "options": [
        {
          "value": "left",
          "label": "t:sections.newsletter.settings.align_content.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.newsletter.settings.align_content.options__2.label"
        }
      ],
      "default": "right",
      "label": "t:sections.newsletter.settings.align_content.label",
      "info": "t:sections.newsletter.settings.align_content.info"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "t:sections.newsletter.settings.heading.default",
      "label": "t:sections.newsletter.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_text",
      "default": "t:sections.newsletter.settings.newsletter_text.default",
      "label": "t:sections.newsletter.settings.newsletter_text.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.button.header_button.content"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button.button_style.options__2.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.all.button.button_style.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.border.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_border_top",
      "default": true,
      "label": "t:sections.all.border.border_enable_top.label"
    },
    {
      "type": "checkbox",
      "id": "show_border_bottom",
      "default": false,
      "label": "t:sections.all.border.border_enable_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-padding.header.content"
    },
    {
      "type": "select",
      "id": "padding_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "l",
      "label": "t:sections.all.section-padding.padding_top.label"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "l",
      "label": "t:sections.all.section-padding.padding_bottom.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.name"
    }
  ]
}
{% endschema %}
