{{ 'section-popular-products.css' | asset_url | stylesheet_tag }}
{{ 'component-badge.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
<script src="{{ 'popular-products.js' | asset_url }}" defer="defer"></script>

{%- if settings.quickview_show or settings.show_on_mobile -%}
  {% comment %}theme-check-disable AssetPreload{% endcomment %}
  <link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="all">
  <link
    rel="preload"
    href="{{ 'quick-add.css' | asset_url }}"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  >
  {% comment %}theme-check-enable AssetPreload{% endcomment %}
{%- endif -%}

{%- style -%}
  {% render 'section-margin' %}
{%- endstyle -%}

{% liquid
  assign swipe_on_mobile = section.settings.swipe_on_mobile
%}

<div class="popular-products">
  <div class="container">
    {% render 'section-header',
      section_heading: section.settings.section_heading,
      button_label: section.settings.section_button_label,
      button_link: section.settings.section_button_link,
      button_style: section.settings.section_button_style
    %}

    <div
      class="popular-products__content{% if swipe_on_mobile %} swiper swiper--products{% endif %}"
      data-columns-mobile="{{section.settings.columns_mobile}}"
    >
      <div class="popular-products__wrapper popular-products__wrapper--{{ section.settings.columns_per_row }} popular-products__wrapper--{{ section.settings.columns_mobile }}-mobile{% if swipe_on_mobile %} swiper-wrapper{% endif %}">
        {%- if section.settings.product_list != blank -%}
          {%- for product in section.settings.product_list -%}
            <div class="popular-products__item collection-product-card quickview{%- if settings.quickview_hover -%}--hover{% endif %} {% if swipe_on_mobile %}swiper-slide{% endif %}">
              {% render 'product-card',
                product_card_product: product,
                media_size: section.settings.image_ratio,
                media_fit: section.settings.image_fit,
                show_secondary_image: section.settings.show_secondary_image,
                show_vendor: section.settings.show_vendor,
                show_collection: section.settings.show_collection,
                show_desc: section.settings.show_desc,
                section_id: section.id,
                columns: section.settings.columns_per_row,
                add_id: forloop.index,
                content_alignment: section.settings.content_alignment,
                forloop: forloop
              %}
            </div>
          {%- endfor -%}
        {%- else -%}
          {%- for i in (1..4) -%}
            <div class="popular-products__item_placeholder collection-popular-card collection-popular-card--placeholder{% if swipe_on_mobile %} swiper-slide{% endif %}">
              {% render 'product-card-placeholder',
                media_size: section.settings.image_ratio,
                content_alignment: section.settings.content_alignment,
                forloop: forloop
              %}
            </div>
          {%- endfor -%}
        {%- endif -%}
      </div>

      {%- if swipe_on_mobile -%}
        <div class="swipe-on-mobile__nav no-js-hidden">
          <div class="popular-products__pagination swiper-pagination"></div>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.popular-products.name",
  "tag": "section",
  "class": "popular-products-section spaced-section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["*"]
  },
  "settings": [
    {
      "type": "product_list",
      "id": "product_list",
      "label": "t:sections.popular-products.settings.product_list.label"
    },
    {
      "type": "range",
      "id": "columns_per_row",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 4,
      "label": "t:sections.all.columns.label",
      "info": "t:sections.all.columns.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile_options.header.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "1",
      "label": "t:sections.all.mobile_options.columns.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.all.mobile_options.columns.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.all.mobile_options.columns.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.all.mobile_options.swipe.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.header.content"
    },
    {
      "type": "text",
      "id": "section_heading",
      "default": "t:sections.popular-products.settings.heading.default",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "section_heading_size",
      "options": [
        {
          "value": "display-xs display-xs--medium",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "display-sm display-sm--medium",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "display-md display-md--medium",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "display-lg display-lg--medium",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "display-sm display-sm--medium",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.button.header_button.content"
    },
    {
      "type": "text",
      "id": "section_button_label",
      "default": "t:sections.popular-products.settings.section_button_label.default",
      "label": "t:sections.all.button.button_label.label",
      "info": "t:sections.all.button.button_label.info"
    },
    {
      "type": "url",
      "id": "section_button_link",
      "label": "t:sections.all.button.button_link.label"
    },
    {
      "type": "select",
      "id": "section_button_style",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button.button_style.options__2.label"
        },
        {
          "value": "tertiary",
          "label": "t:sections.all.button.button_style.options__3.label"
        }
      ],
      "default": "secondary",
      "label": "t:sections.all.button.button_style.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.card.header_card.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "default": "3/4",
      "label": "t:sections.all.image.aspect_ratio.label_secondary",
      "options": [
        {
          "value": "1/1",
          "label": "t:sections.all.image.aspect_ratio.options__1.label"
        },
        {
          "value": "3/2",
          "label": "t:sections.all.image.aspect_ratio.options__2.label"
        },
        {
          "value": "3/4",
          "label": "t:sections.all.image.aspect_ratio.options__3.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.all.image.aspect_ratio.options__4.label"
        },
        {
          "value": "16/9",
          "label": "t:sections.all.image.aspect_ratio.options__5.label"
        },
        {
          "value": "21/9",
          "label": "t:sections.all.image.aspect_ratio.options__6.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_fit",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.image.fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.all.image.fit.options__2.label"
        }
      ],
      "default": "cover",
      "label": "t:sections.all.image.fit.label_secondary"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": true,
      "label": "t:sections.all.card.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": true,
      "label": "t:sections.all.card.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection",
      "default": false,
      "label": "t:sections.all.card.show_collection.label"
    },
    {
      "type": "checkbox",
      "id": "show_desc",
      "default": false,
      "label": "t:sections.all.card.show_desc.label",
      "info": "t:sections.all.card.show_desc.info"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "default": "center",
      "label": "t:sections.all.content_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.content_alignment.options.options__2.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_alignment.options.options__1.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "s",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "s",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.popular-products.presets.name"
    }
  ]
}
{% endschema %}
